@import "tailwindcss";

ul li {
  z-index: 1;
}
input {
  padding-left: 6px;
  border-radius: 2px;
}

.cartProducts {
  overflow: auto;
}
.cartProducts::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

.cartProducts::-webkit-scrollbar-thumb {
  background: rgb(108, 108, 108);
}
